<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">GenoSentinel</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Clínica</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/paciente" class="nav-link px-0" > <span class="d-none d-sm-inline">Gestión de Pacientes</span></a>
                            </li>
                            <li>
                                <a href="/tumor" class="nav-link px-0"> <span class="d-none d-sm-inline">Gestión Tipos de Tumor</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Gestión Historias Clínicas</span></a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Genómica</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 "  > <span   class="d-none d-sm-inline ">Gestión de Genes</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Gestión y Variantes Genéticas</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Gestión Reportes Pacientes</span></a>
                            </li>
                        </ul>
                    </li>
                    
                <li class="w-100">
                                <a href="/paciente" class="nav-link px-0 "  > <span   class="d-none d-sm-inline colorLink">Prueba</span></a>
                            </li>
                           
                <li>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cerrar()">Cerrar</button>
    
                </li>
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3" id="paciente">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 485px;" alt="logo">
                     <h4 class="mt-1 mb-5 pb-1">BIENVENIDO A GENOSENTINEL</h4>
        </div>
       
    </div>
</div>

